<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>


    <div id="map" style="width: 100%; height: 400px"></div>
    <ul id="list">

    </ul>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>

</script>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Genius Loci</strong>
                </h4>

                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/geniuslociapp"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Genius Loci</p>
            </div>
        </div>
    </div>
</footer>